/* IPG Extensions */
.toc {list-style: none;}
.tocsub {list-style: none; padding-left:20px;}
.tocextrasp {list-style: none; padding-top:20px;}
div.lastmodified{padding:0px 10px;font-weight:bold;}
div.abstract{padding:0px 10px}
div.indent{padding:0px 10px}
div.maincontent table {margin-top:15px; margin-bottom:15px; border-collapse: collapse; border: 1px solid black;}
div.maincontent td {padding: 4px}
div.indexdiv dd,dl {margin-left: 9px; margin-top: 0px}
img.figure {padding-bottom: 25px}

div.remark {font-weight: bold; color: red}
span.inlineremark {padding-left: 10px; padding-right: 10px; font-weight: bold; color: red}

div.maincontent pre, div.maincontent code, div.maincontent tt {color: black; font-family:Monaco,"Courier New",Courier}

div.added, div.added *{color: green; text-decoration: underline}
div.deleted, div.deleted *{color: red; text-decoration: line-through}
